<!-- layouts/partials/gtm-head.html -->
{{- if .Site.Params.gtm_id }}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ .Site.Params.gtm_id }}');</script>
<!-- End Google Tag Manager -->

<!-- Configuração inicial de consentimento -->
<script>
  // Configuração padrão de consentimento (LGPD compliant)
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  
  gtag('consent', 'default', {
    'analytics_storage': 'denied',
    'ad_storage': 'denied',
    'functionality_storage': 'granted',
    'personalization_storage': 'denied',
    'security_storage': 'granted',
    'wait_for_update': 2000
  });
  
  // Configuração do GA4
  gtag('config', '{{ .Site.Params.ga4_measurement_id | default "G-XXXXXXXXXX" }}', {
    'anonymize_ip': true,
    'allow_google_signals': false,
    'allow_ad_personalization_signals': false,
    'custom_parameters': {
      'site_version': '{{ .Site.Params.version | default "2024.1" }}',
      'content_language': '{{ .Site.Language.Lang }}',
      'author': '{{ .Site.Params.author }}'
    }
  });
</script>
{{- end }}
